@font-face {
    font-family: "Exo2-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Exo2/Exo2-Regular.eot");
    src: url("../fonts/Exo2/Exo2-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2/Exo2-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Exo2-Bold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Exo2Bold/Exo2-Bold.eot");
    src: url("../fonts/Exo2Bold/Exo2-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Bold/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2Bold/Exo2-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Exo2-Light";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Exo2Light/Exo2-Light.eot");
    src: url("../fonts/Exo2Light/Exo2-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Light/Exo2-Light.woff") format("woff"), url("../fonts/Exo2Light/Exo2-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Exo2-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Exo2Medium/Exo2-Medium.eot");
    src: url("../fonts/Exo2Medium/Exo2-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Medium/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2Medium/Exo2-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Exo2-SemiBold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Exo2SemiBold/Exo2-SemiBold.eot");
    src: url("../fonts/Exo2SemiBold/Exo2-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/Exo2SemiBold/Exo2-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoRegular/Roboto-Regular.eot");
    src: url("../fonts/RobotoRegular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/Roboto-Regular.woff") format("woff"), url("../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoMedium/Roboto-Medium.eot");
    src: url("../fonts/RobotoMedium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/Roboto-Medium.woff") format("woff"), url("../fonts/RobotoMedium/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Bold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoBold/Roboto-Bold.eot");
    src: url("../fonts/RobotoBold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/Roboto-Bold.woff") format("woff"), url("../fonts/RobotoBold/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Light";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoLight/Roboto-Light.eot");
    src: url("../fonts/RobotoLight/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/Roboto-Light.woff") format("woff"), url("../fonts/RobotoLight/Roboto-Light.ttf") format("truetype");
}
html {
    overflow-x: hidden;
}
body {
    padding: 0;
    height: 100vh;
}
* {
    --reg: "Exo2-Regular", sans-serif;
    --med: "Exo2-Medium", sans-serif;
    --light: "Exo2-Light", sans-serif;
    --bold: "Exo2-Bold", sans-serif;
    --sb: "Exo2-SemiBold", sans-serif;
    --rob-med: "Roboto-Medium", sans-serif;
    --rob-reg: "Roboto-Regular", sans-serif;
    --rob-bold: "Roboto-Bold", sans-serif;
    --rob-light: "Roboto-Light", sans-serif;
}
text, tspan {
    font-family: var(--reg) !important;
}
.login-page {
    min-height: 100vh;
    background-color: #3E3E3D;
}
.content-wrap {
    display: flex;
    align-items: center;
    height: 100vh;
}
.logo {
    margin-top: 55px;
}
.login-page-form-title {
    font-family: var(--reg);
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 57px;
}
.login-page-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrap {
    width: 310px;
    height: 50px;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 25px;
}
.input-wrap span {
    margin-top: -7px;
    width: 16px;
}
.input-wrap input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
}
.input-wrap input::placeholder {
    font-size: 14px;
    color: #c2c2c2;
}
.input-wrap .forget-pass {
    width: 368px;
}
.input-wrap .forget-pass a {
    font-size: 14px;
    color: #757575;
    text-decoration: underline;
    font-family: var(--rob-med);
}
.input-wrap-checkbox label {
    font-family: var(--reg);
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 3px;
    padding-left: 25px;
}
.input-wrap-checkbox label input:checked~.checkmark:after {
    display: block;
}
.input-wrap-checkbox label .checkmark:after {
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 4px;
}
.input-wrap-checkbox label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: none;
    border: 1px solid #fff;
    margin-left: -25px;
}
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}
.input-wrap-button {
    margin-top: 22px;
}
.input-wrap-button input {
    width: 310px;
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    font-family: var(--reg);
    font-size: 19px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.input-wrap-button input:hover {
    background-color: #232222;
}
.input-wrap-button input:focus {
    background-color: #000;
}
.markets-links {
    margin-top: 25px;
}
.markets-links a img {
    width: 140px;
}
.markets-links a {
    margin-left: 13px;
    margin-right: 13px;
}
.login-page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    height: 86px;
    width: 100%;
    color: #929291;
    font-family: var(--reg);
    font-size: 15px;
    text-transform: uppercase;
    flex-direction: column;
    border-top: 1px solid #2E2E2E;
}
/* Table */
.table-wrap {
    width: 100vw;
    max-height: 487px;
    overflow: hidden;
    overflow-x:visible;
    margin-top: 0px;
}
.table {
    font-family: var(--rob-med);
    font-size: 14px;
    color: #000;
    width: auto !important;
    margin-bottom: 0px !important;
}
.low-w {
    min-width: 30px !important;
}
.table tbody tr {
    cursor: pointer;
}
.table th {
    padding: 0 !important;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    white-space: nowrap;
    border-left: 1px solid #dee2e6;
}
.red-bg {
    background-color: red !important;
}
.table td {
    overflow: hidden;
    padding: 0 !important;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    font-family: var(--rob-light);
    white-space: nowrap;
    border-left: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: none !important;
    border-bottom: 1px solid #E3E3E3 !important;
}
.detail-info-top-line {
    padding-left: 15px;
    display: flex;
    height: 66px;
    border-bottom: 1px solid #EAEAEA;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 50vw;
    display: none;
    z-index: 9999;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.detail-info-controls {
    font-size: 24px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.detail-info-controls a {
    display: flex;
    align-items: center;
}
#slide-right {
    margin-left: 5px;
}
.detail-info-right-controls {
    position: absolute;
    right: 16px;
}
.detail-info-right-controls-button {
    display: flex;
}
#close-detail-info img {
    margin-right: 0;
    border: none !important;
}
.detail-info-list-wrap {
    width: calc(100% - 40px);
    border: 1px solid #EAEAEA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
}
.detail-info-list-row {
    display: flex;
    font-family: var(--rob-med);
    font-size: 13px;
    border-bottom: 1px solid #EAEAEA;
}
.type-img {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.detail-info-list-column {
    width: 50%;
    padding-left: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-right: 1px solid #cacaca;
}
.detail-info-list-column img {
    max-height: 100px
}
.column-grey {
    background-color: #F9F9F9;
    border-right: 1px solid #cacaca;
}
.detail-info-right-controls-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: 1px solid #EAEAEA;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--rob-light);
    color: #000;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    margin-right: 5px;
    cursor: pointer;
}
.detail-info-right-controls-button a:hover {
    color: #fff !important;
    background-color: #383838;
    text-decoration: none;
}
.detail-info-right-controls-button a img,
.detail-info-right-controls-button a svg {
    margin-right: 5px;
}
#close-detail-info svg{
    margin-right: 0px;
}
.detail-info {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff;
    border-left: 1px solid #EAEAEA;
    overflow-x: scroll;
    padding-bottom: 20px;
    display: none;
    z-index: 10;
}
.container-fluid {
    padding: 0 !important;
}
.menu-line {
    height: 75px;
    background-color: #3E3E3D;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0 !important;
}
.logo-mini {
    padding-left: 30px !important;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    height: 75px;
    display: flex;
}
.main-menu {
    height: 75px;
    margin-left: 45px;
}
.main-menu ul li {
    display: inline-block;
    margin: 0;
    margin-left: -2px;
}
.main-menu ul li a {
    display: flex;
    align-items: center;
    height: 75px;
    font-family: var(--light);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
}
.main-menu ul li a:hover {
    background-color: #38BC9C;
}
.main-menu ul li .active {
    background-color: #38BC9C;
}
.main-menu ul li a img {
    margin-right: 12px;
}
.submit_search {
    position: absolute !important;
    opacity: 0;
    width: 25px !important;
    cursor: pointer;
}
.submit_search:hover ~ span .svg-inline--fa {
    color: #fff;
}
.search-form {
    float: right;
    /*width: 326px;
    height: 35px;
    border: 1px solid #4D4D4C;
    border-radius: 10px;*/
    width: 326px;
    height: 48px;
    border-radius: 20px;
    background-color: #383838;
    z-index: 9;
    position: relative;
}
.search-form span .svg-inline--fa {
    color: #747473;
    transition: all 0.2s ease-in-out;
}
.search-form input {
    /*height: 35px;
    background: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 0px;
    width: 289px;
    outline: none;
    color: #fff;
    padding-bottom: 5px;*/
    height: 51px;
    background: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 0px;
    width: 289px;
    outline: none;
    color: #fff;
    padding-bottom: 5px;

}
.search-form input::placeholder {
    font-family: var(--light);
}
.user-info {
    display: flex;
}
.circle {
    width: 50px;
    height: 50px;
    background-color: #383838;
    border-radius: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.circle:hover {
    background-color: #5d5a5a;
}
.user img {
    width: 100%;
}
.notifications-counter {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    background-color: #FF0000;
    color: #fff;
    font-family: var(--reg);
    font-size: 12px;
    top: -3px;
    margin-left: 20px;
}
.hmb-icon {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hmb {
    width: 40px;
    height: 2px;
    background-color: #fff;
    border-radius: 100px;
}
.hmb:before, .hmb:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin-top: -10px;
}
.hmb:after {
    margin-top: 10px;
}
.hmb-wrap {
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sm-menu {
    width: 320px;
    height: 100vh;
    z-index: 9999;
    right: -320px;
    position: fixed;
    background-color: #383838;
    transition: all 0.5s ease-out;
    overflow-y: scroll;
}
.menu-opened {
    box-shadow: -10px 0 20px rgba(0,0,0,0.4);
    right: 0;
}
.close-sm-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 25px;
}

.sm-menu-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0 , 0.5);
    display: none;
    z-index: 3;
}
.sm-logo {
    margin-top: 70px;
    text-align: center;
}
.sm-search {
    width: 290px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.sm-users-info {
    margin-top: 40px;
    justify-content: center;
}
.sm-users-info .circle {
    width: 50px;
    height: 50px;
    background-color: #242323;
}
.sm-users-info .circle span {
    top: auto;
    margin-top: -20px;
}
.sm-menu ul li a img {
    width: 18px;
    margin-right: 15px;
}
.sm-menu ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.sm-menu ul li {
    list-style: none;
}
.sm-menu ul li a {
    height: 70px;
    padding-left: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family: var(--reg);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.sm-menu ul li a:hover {
    background-color: #1ABC9C;
}
.options {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #383838;
}
.options #cargo-info {
    /*padding-left: 0 !important;*/
}
.options #countries, .options #cargo-info {
    padding: 0;
    padding-left: 37px;
    margin: 0;
    display: inline-block;
}
.options #countries li, .options #cargo-info li {
    display: inline-block;
}
.options #countries li a, .options #cargo-info li a {
    display: flex;
    align-items: center;
    height: 40px;
    font-family: var(--rob-bold);
    color: #cbcbc8;
    font-size: 13px;
    margin-right: 22px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.options #countries li a:hover, .options #cargo-info li a:hover {
    color: #1ABC9C;
}
.options #countries li a img, .options #cargo-info li a img {
    margin-right: 6px;
}
.choose-country {
    margin-left: 15px;
    position: absolute;
    z-index: 777;
}
.choose-info {
    position: absolute;
    width: 95%;
    justify-content: flex-end;
    display: flex;
    padding-right: 5px;
    z-index: 1;
}
.choose-info ul {
    margin-top: 34px !important;
    left: 0;
}
.choose-info .choose-country-click {
    justify-content: flex-end;
    max-width: 120px;
}
.choose-info .choose-country-click span {
    margin-right: 10px;
    margin-left: 0;
}
.choose-country .choose-country-click {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    display: flex;
    height: 25px;
    align-items: center;
    border-radius: 20px;
    font-family: var(--rob-bold);
    color: #383838;
    font-size: 14px;
    text-decoration: none;
}
.choose-country .choose-country-click span {
    margin-left: 10px;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
}
.choose-country ul {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    width: 100vw;
    background-color: #383838;
    padding-top: 11px;
    display: none;
}
.choose-country ul li {
    list-style: none;
}
.choose-country ul li a {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    color: #fff;
    font-family: var(--reg);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.choose-country ul li a:focus {
    background: #1ABC9C;
}
.choose-country ul li a img {
    margin-right: 8px;
}
.no-fw-row {
    width: 100%;
    margin-left: 0 !important;
}
.bt-row {
    border-top: 1px solid #E3E3E3;
    margin-top: 13px;
}
.all-cargos-title {
    font-family: var(--rob-med);
    font-size: 20px;
    color: #000;
    padding-left: 15px;
    margin-top: 15px;
}
.sorting {
    margin-top: 12px;
    display: flex;
}
.sorting-title {
    font-family: var(--rob-bold);
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    margin-left: 15px;
    border: 2px solid #DBDCDE;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    height: 30px;
}
.picked-sorting {
    border: 2px solid #DBDCDE;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    height: 30px;
    margin-left: -2px;
    font-family: var(--rob-light);
    font-size: 13px;
    cursor: pointer;
    width: 200px;
}
.picked-sorting input{ 
    width: 100%;
    border: 0px;
}
.picked-sorting .svg-inline--fa {
    margin-left: 5px;
    margin-right: 5px;
}
.add-new {
    display: flex;
    justify-content: flex-end;
}
.ad-menu {
    margin-left: 15px;
}
.ad-search a, .ad-menu a {
    width: 30px;
    height: 30px;
    border: 1px solid #E7E7E8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.ad-search a:hover, .ad-menu a:hover {
    background-color: #383838;
    color: #fff;
}
.ad-button a {
    display: flex;
    height: 30px;
    border: 1px solid #E7E7E8;
    background-color: #5C94BD;
    color: #fff;
    font-family: var(--bold);
    width: 70px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-left: 15px;
}
.ad-button a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #77b6e5;
}
.ad-button a .svg-inline--fa {
    margin-right: 5px;
}
.all-cargos-buttons {
    padding-top: 16px;
}
.showing {
    font-family: var(--rob-med);
    font-size: 14px;
    color: #000;
    padding-top: 15px;
}
.summary {
    font-family: var(--rob-med);
    font-size: 14px;
    color: #5c94bd;
    padding-top: 15px;
    text-align: right;
}
.dashboard-title {
    font-family: var(--med);
    font-size: 22px;
    color: #3e3e3d;
    padding-top: 15px;
}
.dashboard-choose-date-align {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 25px;
}
.dashboard-choose-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 27px;
    background-color: #3E3E3D;
    font-family: var(--med);
    font-size: 12px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.dashboard-choose-date ul {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    margin-top: 68px;
    margin-left: -125px;
    box-shadow: 0 -2px 15px rgba(0,0,0,0.2);
    display: none;
}
.dashboard-choose-date ul li {
    list-style:none;
}
.dashboard-choose-date ul li a {
    display: flex;
    align-items: center;
    padding-left: 17px;
    font-family: var(--rob-light);
    color: #333333;
    font-size: 14px;
    background-color: #fff;
    width: 260px;
    height: 27px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.dashboard-choose-date ul::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    right: 65px;
    margin-top: -15px;
    filter: drop-shadow(0 -3px 5px rgba(0, 0, 0, .2));
    background: linear-gradient(to right bottom, transparent 50%, #fff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #fff 50%) right / 50% 100% no-repeat;
}
.dashboard-choose-date ul li a:hover {
    background-color: #1ABC9C;
    color: #fff;
}
.dashboard-option {
    width: 100%;
    height: 110px;
    background-color: #3E3E3D;
    margin-top: 23px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}
.row-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.dashboard-option-title {
    font-family: var(--med);
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.5px;
}
.dashboard-option-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.dashboard-option-percents-count {
    font-family: var(--bold);
    font-size: 20px;
    color: #fff;
}
.dashboard-option-percents {
    font-family: var(--bold);
    color: #fff;
    font-size: 10px;
    background: #24CAA1;
    width: 40px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.dashboard-option-progress-bar {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin-top: 11px;
}
.dashboard-option-progress-bar::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    background-color: #24CAA1;
}
.percents-blue {
    background-color: #2EB7F3;
}
.percents-red {
    background-color: #EB4B4B;
}
.percents-purple {
    background-color: #805BBE;
}
.dashboard-option-button {
    display: flex;
    margin-top: 5px;
}
.dashboard-option-button a {
    display: flex;
    height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--reg);
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 0.7px;
    background-color: #686868;
    padding-top: 2px;
    transition: all 0.2s ease-in-out;
}
.dashboard-option-button a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #898787;
}
.dashboard-option-button a span {
    margin-right: 5px;
    font-size: 18px;
    font-family: var(--rob-light);
}
/* Graphic */
.infographic {
    background-size: cover;
    position: relative;
    z-index: 9999;
    margin-top: 30px;
    margin-left: 10px;
}

tspan {
    padding-left: 5px;
}

.tooltip {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #ffffff;
    box-shadow: 5px 5px 0 rgba(0,0,0,.4);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
        z-index: 2;
}

.tooltip.one {
    left: 110px;
    top: 0;
}

.tooltip.two {
    left: 265px;
    top: 0;
}

.tooltip.three {
    left: 420px;
    top: 0;
}

.tooltip .inner .date {
        position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
        transition: all .5s ease;
        z-index: 3
}

.tooltip .inner .pulse {
        box-sizing: border-box;
    transition: all .5s ease;
    position: absolute;
    display: inline-block;
    background-color: none;
        border: 4px solid #D3A809;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    left: -6px;
    top: -6px;
        animation: pulse 2s ease infinite;
        z-index: 1;
        display: none;
}

.tooltip .inner:hover .pulse {
    display: none;
    background-color: #ffffff;
}

.tooltip .inner {
    box-sizing: border-box;
    transition: all .25s ease;
    position: absolute;
    display: inline-block;
    background-color: #D3A809;
    border-radius: 50%;
    padding-top: 12px;
    height: 48px;
    width: 48px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
        z-index: 10;
}

.tooltip .tooltiptext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    visibility: hidden;
    width: 210px;
    background-color: #EBEBEC;
    color: #00588a;
    text-align: left;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 30;
    top: 126%;
    left: 45%;
    margin-left: -60px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .4);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 27%;
    margin-left: -16px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #EBEBEC transparent;
        z-index: 31;
}

.tooltip .inner:hover {
    width: 60px;
    height: 60px;
}

.tooltip .inner:hover .tooltiptext {
    visibility: visible;
}

.tooltip .inner:hover .date {
    font-size: 23px;
}

#total-growth {
    position: absolute;
    right: 80px;
    top: 10px;
    color: #D3A809;
    font-weight: bold;
    font-size: 20px;
    font-family: arial;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
        border: 1px solid #ffffff;
        border-color: #ffffff;
  }
}

.dashboard-table-wrap {
    width: 100%;
    overflow: scroll;
    max-height: 270px;
    margin-top: 20px;
}
.task-for-day-padding {
    /*padding-top: 37px;*/
}
.task-for-day {
    width: 100%;
    height: 100%;
    background-color: #3E3E3D;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.task-for-day ul {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    overflow-y: scroll !important;
}
.task-for-day ul li {
    list-style: none;
    padding-top: 5px;
    padding-right: 40px;
    margin-top: 6px;
    border-bottom: 1px solid #484847;
}
.task-for-day ul li label {
    font-family: var(--med);
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.7px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
}
.task-for-day ul li label input {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
}
.task-for-day ul li label .checkmark-task {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
}
.task-for-day ul li label .checkmark-task::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 4px;
    display: none;
}
.task-checked::after {
    display: block !important;
}
.custom-input-checked {
    text-decoration: line-through !important;
}
.pb {
    padding-bottom: 25px;
}
.task-for-day-title {
    font-family: var(--med);
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.7px;
}
.checkmark-text {
    margin-top: -2px;
    padding-left: 29px;
    padding-bottom: 6px;
}
.checkmark-text p {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.task-term {
    width: 75px;
    height: 18px;
    display: inline-block;
    font-family: var(--reg);
    font-size: 13px;
    color: #fff;
    background-color: #4C4C4B;
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 4px;
}
.task-tag {
    width: 75px;
    height: 18px;
    display: inline-block;
    background-color: #B62929;
    border-radius: 5px;
    margin-bottom: -4px;
    margin-right: 4px;
}
.task-term .svg-inline--fa {
    margin-right: 5px;
}
.add-task {
    bottom: 0;
    width: 100%;
    height: auto;
    min-height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 30px;
}
.task-input {
    width: 67%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-family: var(--med);
    font-size: 13px;
    letter-spacing: 0.7px;
}
.task-input::placeholder {
    color: #fff;
    font-family: var(--med);
    font-size: 13px;
    letter-spacing: 0.7px;
}
.task-submit {
    width: 30%;
    text-transform: uppercase;
    font-family: var(--reg);
    color: #fff;
    background-color: #686868;
    font-size: 13px;
    border: 0;
    letter-spacing: 0.7px;
    padding-top: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.task-submit span {
    font-family: var(--rob-light);
    font-size: 16px;
    margin-right: 10px;
}
.task-submit:hover {
    background-color: #878686;
    color: #fff;
    text-decoration: none;
}
.add-form {
    width: 100%;
}
.add-form form {
    display: flex;
    justify-content: space-between;
}
.add-task-tag-term {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 12px;
}
.add-task-tag-term a {
    font-family: var(--med);
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}
.add-task-tag-term a input {
    background: transparent;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease-in-out;
    outline: none;
    font-family: var(--med);
    font-size: 12px;
    width: 70px;
    color: #fff;
}
.add-task-tag-term a input::placeholder {
    background: transparent;
    font-family: var(--med);
    font-size: 12px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.add-task-tag-term a:hover, .add-task-tag-term a:hover input::placeholder {
    color: #aeaeae;
    text-decoration: none;
}
.add-task-tag-term a .svg-inline--fa {
    margin-right: 5px;
}

.tag-choose ul, .tag-choose-popup ul {
    padding: 10px;
    margin: 0;
    background: #fff;
    position: absolute;
    max-height: 200px;
    margin-top: -220px;
    border-radius: 5px;
    overflow-y: scroll;
    display: none;
}
.tag-choose ul li, .tag-choose-popup ul li {
    background-color: #B62929;
    height: 10px;
    width: 60px;
    border-radius: 5px;
}
.tag-choose-popup ul {
    margin-top: -177px;
    right: 40px;
    bottom: 50px;
}
.tag-choose-popup ul li {
    margin-bottom: 5px;
}
#task-terms-popup-pick {
    border-radius: 3px;
    width: 70px;
    padding: 3px;
    cursor: pointer;
}
#tag-choose {
    padding-right: 5px;
    border-radius: 5px;
    padding-top: 1px;
    color: #fff;
    cursor: pointer;
}
.search-popup {
    width: 630px;
    min-height: 350px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 9999;
    right: 20px;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    display: none;
}
.search-popup-tags {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 24px);
}
.search-popup-tags-links ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.search-popup-tags-links ul li {
    display: inline-block;
}
.btn-group-toggle{
    margin-top: 10px;
}
.search-popup-tags-links ul li a, 
.btn-group-toggle > .btn-secondary{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: var(--med);
    font-size: 15px;
    color: #3e3e3d !important;
    border: 1px solid #D1D1D1 !important;
    border-radius: 5px !important;
    margin-right: 8px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;    
    background-color: #fff !important;
}
.btn-group-toggle > .active{
    color: #fff;
    background-color: #D1F2EB !important;
    border-color: #D1F2EB !important;
}
.search-popup-tags-links ul li a:hover {
    color: #fff;
    background-color: #D1F2EB;
    border-color: #D1F2EB;
}
.search-popup-tags-title {
    font-family: var(--med);
    font-size: 17px;
    color: #3e3e3d;
    border-bottom: 2px solid #D1D1D1;
    padding-bottom: 5px;
}
.search-popup::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    right: 10px;
    margin-top: -25px;
    filter: drop-shadow(0 -7px 10px rgba(0, 0, 0, .5));
    background: linear-gradient(to right bottom, transparent 50%, #fff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #fff 50%) right / 50% 100% no-repeat;

}
.search-popup-title {
    font-family: var(--light);
    font-size: 17px;
    color: #757575;
}
.search-popup-title img {
    width: 20px;
}
.popups-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(104,104,104, 0.5);
    z-index: 5;
    display: none;
}
.tasks-popup {
    position: absolute;
    top: 72px;
    right: -5px;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    display: none;
    flex-direction: column;
    z-index: 5;
}
.tasks-popup-title {
    font-family: var(--med);
    font-size: 20px;
    color: #3e3e3d;
    margin-bottom: 25px;
    letter-spacing: 0.7px;
}
.tasks-popup-task-check {
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid #4D4D4C;
}
.tasks-popup-task-check::after {
    content: "";
    position: absolute;
    width: 5px;
    margin-left: 4px;
    height: 10px;
    border: 4px solid #6A6A69;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.tasks-popup-task-check-checked::after {
    display: block;
}
.tasks-popup-task {
    color: #000;
    margin-bottom: 15px;
    position: relative;
}
.tasks-popup-task:hover .edit-task {
    opacity: 1;
}
.tasks-popup-task p {
    font-family: var(--med);
    font-size: 13px;
    color: #3e3e3d;
    padding-left: 25px;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}
.tasks-popup-task-tag {
    width: 23px;
    height: 10px;
    border-radius: 3px;
    background-color: #B62929;
    display: inline-block;
}
.tasks-popup-task-time {
    display: inline-block;
    margin-left: 10px;
    font-family: var(--reg);
    font-size: 13px;
    color: #CACACA;
    letter-spacing: 0.7px
}
.tasks-popup-task-time .svg-inline--fa {
    margin-right: 4px;
}
.line-through {
    text-decoration: line-through;
}
.tasks-popup-controls {
    color: red;
}
.tasks-popup-controls-form {
    width: 250px;
}
.tasks-popup-controls-form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tasks-popup-controls-form-input {
    width: 210px;
    height: 30px;
    border: 1px solid #3E3E3D;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.tasks-popup-controls-form-submit {
    height: 30px;
    width: 30px;
    font-family: var(--rob-bold);
    background-color: #D5D5D4;
    border: 0;
    margin-top: -1px;
    color: #fff !important;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.tasks-popup-controls-form-submit svg{
    margin-top: 7px;
}
.tasks-popup-controls-form-submit:hover {
    background-color: #383838;
}
.task-terms-popup {
    color: #565655;
    font-family: var(--med);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.task-terms-popup div {
    display: inline-block;
}
.task-terms-popup div:last-child {
    display: flex;
    align-items: center;
}
.task-terms-popup div #task-terms-popup-pick {
    width: 80px;
    margin-left: 5px;
    border-radius: 3px;
    margin-right: 0;
}
.tag-picked {
    height: 11px;
    width: 27px !important;
}
.task-terms-popup div input {
    border: none;
    outline: none;
    width: 150px;
    margin-left: 5px;
    color: #565655;
    font-family: var(--med);
    font-size: 13px;
    letter-spacing: 0.7px;
    cursor: pointer;
}
.task-terms-popup div input::placeholder {
    color: #565655;
    font-family: var(--med);
    font-size: 13px;
    letter-spacing: 0.7px
}
.tasks-popup::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    right: 20px;
    margin-top: -30px;
    filter: drop-shadow(0 -4px 2px rgba(0, 0, 0, .5));
    background: linear-gradient(to right bottom, transparent 50%, #fff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #fff 50%) right / 50% 100% no-repeat;
}
.notif {
    position: absolute;
    width: 275px;
    right: -5px;
    min-height: 200px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    top: 72px;
    background-color: #fff;
    z-index: 3;
    padding-top: 15px;
    display: none;
}
.notif-title {
    font-family: var(--med);
    font-size: 20px;
    color: #3e3e3d;
    margin-bottom: 25px;
    letter-spacing: 0.7px;
}
.notif-message {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.notif-message-text  {
    padding-left: 5px;
    font-size: 15px;
    font-family: var(--med);
    color: #3E3E3D;
}
.notif-message-text span {
    color: #5C84BA;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--med);
}
.notif-message-text div span {
    font-family: var(--med);
    font-size: 12px;
    color: #9e9e9e;
    margin-right: 10px;
}

.lines {
    width: 75px;
    height: 1px;
    background-color: #E6E6E6;
    margin-left: auto;
    margin-right: auto;
}
.lines:before, .lines:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #E6E6E6;
    margin-top: -5px;
}
.lines:after {
    margin-top: 5px;
}
.notif ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.notif ul li {
    list-style: none;
    margin-bottom: 15px;
}
.notif ul li a {
    font-family: var(--med);
    font-size: 16px;
    color: #1C1F24;
    letter-spacing: 0.7px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.notif ul li a:hover {
    color: #1ABC9C;
}
.notif ul li img {
    margin-right: 3px;
}
.notif::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    right: 20px;
    margin-top: -30px;
    filter: drop-shadow(0 -4px 2px rgba(0, 0, 0, .5));
    background: linear-gradient(to right bottom, transparent 50%, #fff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #fff 50%) right / 50% 100% no-repeat;
}
.user-set {
    position: absolute;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    right: -5px;
    z-index: 5;
    margin-top: 23px;
    padding-top: 12px;
    display: none;
}
.user-set::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    right: 20px;
    margin-top: -26px;
    filter: drop-shadow(0 -4px 2px rgba(0, 0, 0, .5));
    background: linear-gradient(to right bottom, transparent 50%, #fff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #fff 50%) right / 50% 100% no-repeat;
}
.user-set ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.user-set ul li {
    list-style: none;
}
.user-set ul li a {
    display: flex;
    height: 30px;
    color: #3E3E3D;
    font-family: var(--med);
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding-left: 25px;
}
.user-set ul li a:hover {
    color: #fff;
    background-color: #1ABC9C;
}
.user-name-wrap {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
}
.user-img {
    display: flex;
}
.user-img img {
    width: 50px;
    height: 50px;
}
.user-name {
    font-family: var(--med);
    font-size: 16px;
    color: #3E3E3D;
    padding-left: 13px;
}
.user-name span:last-child {
    color: #686868;
}
.circle-wrap {
    position: relative;
}
.edit-task {
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    right: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.edit-task a {
    color: #9198A0;
    font-size: 9px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: #E6E6E6;
    border-radius: 3px;
}
.edit-task a:hover {
    background-color: #9198A0;
    color: #fff;
}
.sm-users-info {
    position: relative;
}
.sm-users-info .tasks-popup, .sm-users-info .notif-sm, .sm-users-info .user-set-sm {
    top: 71px;
    width: 100%;
    right: 0;
}
.sm-users-info .tasks-popup::before, .sm-users-info .notif-sm::before,.sm-users-info .user-set-sm::before {
    display: none;
}
.search-popup-sm {
    width: 100% !important;
    right: 0;
    top: 112px;
}
.search-popup-sm::before {
    display: none;
}
.search-popup-sm .search-popup-tags-links ul li a {
    max-height: 30px;
    margin-bottom: 10px;
}
#ui-datepicker-div {
    z-index: 9999 !important;
}
.notif-sm ul li a {
    height: 30px;
}
.notif-sm ul li a:hover {
    background-color: #fff;
    color: #1ABC9C;
}
#task-terms-popup-pick-sm {
    margin-left: 5px;
    border-radius: 3px;
}
#date-sm {
    margin-right: 5px;
}
.addclient-page-options {
    padding-left: 32px;
}
.add-client-title {
    font-family: var(--rob-reg);
    font-size: 18px;
    color: #1F1F1F;
    border-bottom: 1px solid #EEEFF1;
    padding-left: 15px;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.select-input select {
    width: 240px;
    height: 30px;
    border: 1px solid #C6C6C7;
    outline: none;
    font-family: var(--rob-reg);
    padding-top: 2px;
    padding-left: 5px;
    letter-spacing: 0.4px;
    font-size: 14px;
    color: #99999C;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
}
.select-input select:focus {
    color: #3EBD9E;
    border-color: #3EBD9E;
}
.placeholder-select {
    color: #99999C !important;
    font-size: 14px;
}
.add-client-form-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 85px;
    position: relative;
}
.add-client-form-line label {
    font-family: var(--rob-med);
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
}
.add-client-form-line label span {
    color: red;
}
.option {
    font-family: var(--rob-reg);
    color: #000 !important;
    border: 1px solid #3EBD9E !important;
}
.top-part {
    padding-top: 15px;
}
.input-addclient-wrap {
    position: relative;
}
.input-addclient-wrap input {
    width: 240px;
    height: 30px;
    border: 1px solid #C6C6C7;
    outline: none;
    font-family: var(--rob-reg);
    padding-top: 2px;
    padding-left: 5px;
    letter-spacing: 0.4px;
    font-size: 14px;
    color: #333333;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
    z-index: 9999;
    cursor: pointer;
}
.input-addclient-wrap input::placeholder {
    font-size: 14px;
    color: #99999C;
}
.input-addclient-wrap .input-icon {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #5D5D5D;
}
.add-client-form-line-checkbox {
    justify-content: flex-start !important;
    align-items: center;
}
.add-client-form-line-checkbox label {
    position: relative;
    display: flex;
    align-items: center;
}
.add-client-form-line-checkbox label input {
    opacity: 0;
}
.add-client-form-line-checkbox label input:checked ~ span::after {
    display: block;
}
.add-client-form-line-checkbox span {
    width: 13px;
    height: 13px;
    position: absolute;
    border: 1px solid #C6C6C7;
    top: 50%;
    margin-top: -6.5px;
    margin-right: 5px;
}
.add-client-form-line-checkbox span::after {
    content: "";
    position: absolute;
    margin-left: 3px;
    width: 5px;
    height: 10px;
    border: solid #333333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.add-client-form-line-checkbox p {
    margin-left: 10px;
    margin-bottom: 0;
}
.hint {
    color: #B9B5B7;
    font-size: 11px;
    font-family: var(--rob-reg);
    position: absolute;
    margin-top: 3px;
}
.add-client-form-line input {
    transition: all 0.2s ease-in-out;
}

.add-client-form-line input:focus {
    border-color: #3EBD9E;
}
.iti-flag {
    background-image: url("../libs/phone/build/img/flags.png");
}
.add-client-form-line-mt {
    /*margin-top: 15px !important;*/
}
.border-span input:focus ~ .input-icon {
    border-color: #3EBD9E;
}
.border-span .input-icon {
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-left: 1px solid #C6C6C7;
    transition: all 0.2s ease-in-out;
}
.input-addclient-wrap-textarea textarea {
    width: 240px;
    min-height: 102px;
    border-color: #C6C6C7;
    max-height: 150px;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family: var(--rob-reg);
    font-size: 14px;
    color: #333;
    padding-left: 5px;
}
.input-addclient-wrap-textarea textarea:focus {
    border-color: #3EBD9E;
}
.input-addclient-wrap-textarea {
    align-items: flex-start;
}
.file {
    border: 1px solid red !important;
    position: absolute;
    right: 0;
    opacity: 0;
    top: 0;
}
.add-client-form-line-file {
    padding-right: 85px;
}

.add-client-form-line-file input::placeholder {
    color: #C3C3C3;
}
.mb {
    margin-bottom: 40px;
}
.add-client-form-line-file .input-addclient-wrap {
    cursor: pointer;
}
#preview_avatar {
    width: 240px;
}
.add-client-form-line-file {
    align-items: flex-start;
}
.gen-img, .load-file {
    height: 0;
    color: red;
    display: flex;
    align-items: center;
    margin-top: 0px;
    font-size: 14px;
    color: #677E8E !important;
    margin-bottom: 20px;
    position: relative;
    padding-right: 85px;
    margin-bottom: 0;
}
.gen-img .ava-name, .load-file .ava-name{
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    color: #677E8E !important;
}
.ava-size {
    margin-left: 3px !important;
    color: #B7B7B7 !important;
    text-decoration: none !important;
}
.close-preview,
.close-preview-other,
.close-preview-invoice,
.close-preview-awb,
.close-preview-packing,
.close-preview-invoice-1,
.close-preview-invoice-2, 
.close-preview-invoice-3, 
.close-preview-invoice-4,
.close-preview-other-1,
.close-preview-other-2, 
.close-preview-other-3, 
.close-preview-other-4{
    position: absolute;
    right: 85px;
    color: #7D7D7D;
    font-size: 10px;
    /*top: 0;*/
    cursor: pointer;
    display: none;
}
.gen-img img, .load-file img{
    border-radius: 100%;
    width: 50px !important;
    height: 50px;
}
.gen-invoice, .gen-of {
    width: 240px;
}
.add-new-item {
    margin-bottom: 20px;
}
.add-new-item-title {
    color: #333333;
    font-family: var(--rob-med);
    font-size: 18px;
}
.add-new-section {
    padding-top: 20px;
}
.add-new-item-top-line {
    display: flex;
    height: 37px;
    width: 100%;
    background-color: #F9FAFA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    margin-top: 15px;
    padding-left: 40px;
    align-items: center;
}
.add-new-item-button-inputs {
    padding-left: 40px;
    display: flex;
    min-height: 35px;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}
.add-new-item-button-inputs .add-client-form-line {
    margin-bottom: 0;
    display: flex;
    position: relative;
    width: 50%;
    margin-right: 20px;
    padding-right: 0;
}
.add-new-item-button-inputs .add-client-form-line select, .add-new-item-button-inputs .add-client-form-line .select-input {
    width: 100%;
}
.add-new-item-top-line span {
    font-family: var(--rob-med);
    color: #333333;
    font-size: 14px;
    display: flex;
    align-items:center;
    height: 37px;
    width: 50%;
    margin-right: 20px;
}
.add-new-item-button {
    display: flex;
    align-items: center;
    min-height: 50px;
}
.add-new-item-button a {
    color: #3EBD9E;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.add-new-item-button a:hover {
    text-decoration: none;
    color: #1d9074;
}
.add-new-item-top-line span .req {
    color: red;
    width: 0 !important;
}
.add-new-item-mw {
    width: 100%;
    /*width: calc(100% + 245px);*/
}
.add-new-item-mw .add-new-item-top-line span {
    width: 33%;
}
.bottom-part-title {
    padding-left: 15px;
    font-family: var(--rob-med);
    font-size: 18px;
    color: #000;
    padding-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 20px;
    width: 100%;
}
.add-new-form-submit-buttons {
    border-top: 1px solid #EAEAEA;
}
.add-new-form-submit-buttons-wrap {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: flex-end;
    padding-right: 100px !important;
}
.add-new-form-submit-buttons-wrap-width {
    display: flex;
    width: 240px;
}
.add-new-form-submit-buttons-wrap input, .add-new-form-submit-buttons-wrap a {
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.add-new-form-submit-buttons-wrap input:hover {
    background-color: #279f82;
}
.add-new-form-submit-buttons-wrap a {
    background-color: #fff;
    border: 1px solid #D4D5D8;
    color: #6C6D75;
    transition: all 0.2s ease-in-out;
}
.add-new-form-submit-buttons-wrap a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}
.setting-title {
    font-family: var(--sb);
    font-size: 20px;
    color: #3C3C3C;
    letter-spacing: 0.5px;
    height: 70px;
    display: flex;
    align-items: center;
}
.pf-set-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 85px;
}
.pf-set-button input {
    display: flex;
    width: 240px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    transition: all 0.2s ease-in-out;
}
.pf-set-button input:hover {
    background-color: #279f82;
}
.pf-set-button-lf {
    justify-content: flex-start;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fade-out {
  animation-name: fade-out;
}
/* Flex helpers */
.flex {
  display: flex;
}
.flex.vac {
  align-items: center;
}
.flex.cac {
  justify-content: center;
}
.flex.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex .row, .flex .full-width {
  width: 100%;
}
.flex.justify-content-end {
  justify-content: flex-end;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.justify-space-around {
  justify-content: space-around;
}
.flex.justify-space-between {
  justify-content: space-between;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation-name: fade-in;
}
.logo.animated.fade-in img {
    width: 100%;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100000000;
  background: #1c1a19;
}
.overlay .preloader svg {
  animation-name: preloader-in;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.overlay .preloader.out svg {
  animation-name: preloader-out;
}
.overlay .preloader.animate .outer {
  animation-name: show100;
  animation-duration: 2.3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  opacity: 1;
}
.overlay .preloader .logo {
  opacity: 0;
  animation-delay: 0.5s;
  display: block;
  width: 40%;
  margin: 0px auto;
  text-align: center;
  background: transparent url('../img/logo-mini.png') no-repeat center center;
  background-size: contain;
  text-indent: -99999px;
  padding: 5px;
  height: 100px;
}
.overlay .preloader .logo.fade-out {
  animation-delay: 0.2s;
  animation-duration: 0.2s;
}
@keyframes preloader-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  25% {
    opacity: 1;
    transform: scale(1.4);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes preloader-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.4);
  }
  60% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.loader {
  position: relative;
  height: 200px;
  width: 200px;
}
.loader svg {
  position: absolute;
  top: 0%;
}
.outer {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 99;
  /* transition: stroke-dashoffset 1s;*/
  stroke-dashoffset: 0;
  opacity: 0;
}
.preloader .outer {
  stroke-dasharray: 502;
}
.outer.loading {
  transition: stroke-dashoffset 0.8s ease;
}
.background {
  opacity: 0.5;
  stroke: #fff;
  stroke-width: 2;
  fill: transparent;
}
.animate .outer {
  animation-name: show100;
  animation-duration: 5s;
  opacity: 1;
  animation-timing-function: linear;
}
.loader.animate {
  transform: rotate(-90deg);
}


@media only screen and (max-width: 1450px) {
    .circle {
        margin-left: 11px;
    }
    .add-client-form-line {
        padding-right: 0;
    }
    .close-preview,
    .close-preview-other,
    .close-preview-invoice,
    .close-preview-awb,
    .close-preview-packing,
    .close-preview-invoice-1,
    .close-preview-invoice-2, 
    .close-preview-invoice-3, 
    .close-preview-invoice-4,
    .close-preview-other-1,
    .close-preview-other-2, 
    .close-preview-other-3, 
    .close-preview-other-4{
        right: 0;
    }
    .pf-set-button {
        padding-right: 0;
    }
    .add-new-form-submit-buttons-wrap {
        padding-right: 15px !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("../libs/phone/build/img/flags.png");}
}


@media only screen and (max-width: 1370px) {
    .main-menu ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-form {
        width: 260px;
    }
    .search-form input {
        width: 220px;
    }
    .circle {
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 1204px) {
    .circle {
        margin-left: 10px;
    }
    .select-input select {
        width: 100%;
    }
    .add-client-form-line {
        display: block;
    }
    .input-addclient-wrap input {
        width: 100%;
    }
    .add-client-form-line-file .input-addclient-wrap {
        margin-right: 0;
    }
    .input-addclient-wrap-textarea textarea {
        width: 100%;
    }
    .add-new-item-mw {
        width: 100%;
    }
    .add-new-form-submit-buttons-wrap {
        justify-content: flex-start;
    }
    .add-new-form-submit-buttons-wrap {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 1200px) {
    .task-for-day ul li:last-child {
        margin-bottom: 50px;
    }
    .tag-choose ul li:last-child {
        margin-bottom: 0px !important;
    }
    #infographic {
        width: 1100px;
    }
    .infographic-wrap {
        overflow-x: scroll;
    }
    .search-form {
        width: 100%;
    }
    .search-form input {
        width: calc(100% - 35px);
    }
    .logo-mini {
        padding-left: 45px !important;
    }
    .dashboard-option {
        margin-bottom: 7px;
    }
    .row-padding {
        padding: 0;
    }
}

@media only screen and (max-width: 1105px) {
    .options #countries, .options #cargo-info {
        display: block;
        text-align: center;
        padding-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .detail-info {
        width: 70vw;
    }
    .detail-info-top-line {
        width: 70vw;
    }
    .logo {
        margin-top: 0;
        text-align: center;
    }

    .logo img {
        width: 300px;
    }

    .login-page-form-title {
        text-align: center;
    }

    .content-wrap {
        height: auto;
    }

    .logo img {
        width: 150px;
    }

    .logo {
        display: inline-block;
        margin-top: 50px;
    }

    .content-wrap {
        display: block !important;
    }

    .login-page-footer {
        margin-top: 100px;
    }
    .logo-mini {
        padding-left: 15px !important;
    }
    .hmb-icon {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 650px) {
    .search-popup {
        width: 100vw;
    }
    .search-form {
        display: none;
    }
    .sm-search {
        display: block;
    }
    .search-popup::before {
        display: none;
    }
    .detail-info {
        width: 100vw;
        z-index: 8888;
    }
    .detail-info-top-line {
        width: 100vw;
    }
}

@media only screen and (max-width: 575px) {

    .add-new-item-mw .add-new-item-top-line span {
        margin-right: 10px;
    }
    .add-new-item-mw .add-new-item-top-line {
        padding-top: 3px;
        padding-bottom: 3px;
        height: auto;
    }
    .add-new-item-mw .add-new-item-button-inputs .add-client-form-line {
        margin-right: 10px;
    }
    .add-new-item-top-line {
        padding-left: 10px;
        padding-right: 10px;
    }
    .add-new-item-button-inputs {
        padding-left: 10px;
        padding-right: 10px;
    }
    .add-new-item-top-line span {
        font-size: 14px;
    }
    .add-new {
        justify-content: flex-start;
        padding-left: 16px;
    }
    .options {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
        height: 45px;
        display: flex;
        align-items: center;
    }
    #countries, #cargo-info {
        display: none !important;
    }
    .sm-search {
        width: calc(100% - 30px) !important;
    }
    .sm-menu {
        width: 100vw;
        right: -100vw;
    }
    .menu-opened {
        right: 0vw;
    }
    .login-page-form-title {
        font-size: 25px;
        margin-top: 50px;
    }

    .input-wrap, .input-wrap-button input {
        width: 100%;
    }

    .login-page-form-wrap form {
        width: 100%;
    }

    .markets-links a {
        margin-left: 0;
        margin-right: 0;
    }

    .markets-links a img {
        width: 142px;
    }
    .type-img {
        justify-content: start;
    }
    .type-img img {
        max-width: 100px;
    }
    .dashboard-choose-date-align {
        justify-content: flex-start;
        padding-top: 14px;
    }
    .gen-img, .load-file {
        padding-right: 0;
    }
    .gen-img .ava-name, .load-file .ava-name{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .search-form {
        display: none;
    }
    .sm-search {
        display: block !important;
    }
    .task-input {
        width: 60%;
    }
    .task-submit {
        width: 35%;
        font-size: 12px;
    }
    .task-submit span {
        font-size: 15px;
        margin-right: 4px;
    }
}

.table-description{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.all-cargos-content .table tbody tr:hover{
    background-color: #3e3e3dbf;
    color: #fff;
}

#sm-countries li a svg, 
#countries li a svg {
    margin-right: 5px;
    color: #fff;
}

#cargo-info li a svg {
    margin-right: 5px;
}

.dropdown-menu{
    top: auto !important;
    left: auto !important;
}

.dropdown-menu{
    background-color: #383838 !important;
    margin-top: -1px !important;
}

.dropdown-item{
    color: #fff !important;
    font-size: 13px !important;
    font-family: var(--rob-light)!important;
    padding: 10px 15px !important;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #5a5a5a !important;
}

.dropdown-item svg {
    margin-right: 5px;
}

.dropdown-menu-china-btn,
.dropdown-menu-cargos-btn{
    cursor: pointer;
}

.table-resizable{
    width: 100% !important;
}

.shipments-row-block,
.cargos-row-block{
    background-color: #848484 !important;
    /*background-color: #383838 !important;*/
    color: #fff;
}

.add-new-form-submit-buttons-wrap-width > .submit-form,
.submit-withdraw,
.submit-add-pricing,
.submit-director-new{
    color: #fff !important;
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.add-new-form-submit-buttons-wrap-width > .submit-form:hover {
    background-color: #279f82;
}

.ad-button a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #009688;
}

.btn-add-client{
    background: #37bc9c;
    height: 24px !important;
    padding: 10px;
    border-radius: 15px;
    color: #fff !important;
}

.payments-row-approve,
.projects-row-approve{
    background-color: #b8ffee !important;
}
.payments-row-approve:hover,
.projects-row-approve:hover{
    background-color: #99ecd8 !important;
    color:#000 !important;
}

.payments-row-approve-out{
    background-color: #f4433640 !important;
}
.payments-row-approve-out:hover{
    background-color: #f4433640 !important;
    color:#000 !important;
}

.search-block-html{
    overflow: auto;
    width: 100%;
    height: 290px;
}
.search-block-html table{
}
.search-block-html table tr td{
    padding: 0px 10px;
    border: 1px solid #d2d2d2;
}

.edit-profile-notification-label{
    height: 30px;
}

.table-row-count-summ{
    color: #38bc9c;
    font-family: Roboto-Bold !important;
}

#dropdownMenuLink{
    background-color: #fff;
    padding: 0;
    color: #000;
    font-family: var(--rob-med);
    font-size: 14px;
    border: 0;
}
.dropdown-menu-table{
    position: absolute;
    transform: translate3d(0px, 7px, 0px)!important;
    will-change: transform;
    background-color: white !important;
}
.dropdown-menu-table a{
    color: #000 !important;
}
.dropdown-menu-table a:hover{
    background-color: #e4e4e4 !important;
}

table.table.adminsaletable {
    border: 2px solid #e1e1e1;
    margin-top: 20px;
}
.selectsaleadm {
    padding-left: 15px;
    padding-top: 20px;
}
.selectsaleadm .dropdown {
    margin-right: 10px;
}

@media only screen and (max-width: 1200px){
    .block-search-block{
        display: block;
    }
}
@media only screen and (min-width: 1200px){
    .block-search-block{
        display: none;
    }
}

.dropdown-search-input{
    border: 1px solid rgba(0,0,0,.15);
    color: #16181b !important;
    font-family: var(--rob-bold)!important;
}

.dropdown-search-input:focus, .dropdown-search-input:hover {
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}
.dropdown-search-input:hover, .dropdown-search-input:focus {
    background-color: #ececec !important;
}

.btn-search-filter-show{
    color: #fff !important;
    display: inline-block;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    padding: 2px 5px;
}

.btn-search-filter-show a svg{
    margin-left:5px;
    color: #fff;
}
.btn-search-filter-show a svg:hover{
    color: red;
}

.btn-search-filter-delete{
    background: #e86960;
}

.bootstrap-select button{
    width: 240px !important;
    height: 30px;
    border: 1px solid #C6C6C7;
    outline: none;
    font-family: var(--rob-reg);
    padding-top: 4px;
    padding-left: 5px;
    letter-spacing: 0.4px;
    color: #99999C;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
    font-size: 14px;
    margin-left: -20px !important;
}

.bootstrap-select .dropdown-menu { 
    transform: none !important;
    background-color: #fff !important;
}

.bootstrap-select .dropdown-menu .inner{ 
    display: block;    
    background-color: #fff !important;
}

.bootstrap-select .dropdown-menu .inner li a{ 
    border: none !important;
    font-size: 17px;
    padding-left: 10px;
    display: block;
}

.bootstrap-select .dropdown-menu .inner li a:hover{ 
    color: #29a084 !important;
}

.bootstrap-select .dropdown-menu .hidden{ 
    display: none;
}

.cargo-row td:nth-child(1),
.client-row td:nth-child(1),
.shipment-row td:nth-child(1),
.payment-row td:nth-child(1),
.project-row td:nth-child(1),
.table-bordered tr th:nth-child(1),
.buying-row td:nth-child(1){
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

/*.cargo-row td:nth-child(18),
.table-wrap .table-bordered tr th:nth-child(18){
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}
.client-row td:nth-child(11),
.client-wrap .table-bordered tr th:nth-child(11){
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}
.payment-row td:nth-child(13),
.payment-wrap .table-bordered tr th:nth-child(13){
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}
.project-row td:nth-child(10),
.project-wrap .table-bordered tr th:nth-child(13){
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}*/

.eye-click-view-row{
    position: relative;
    bottom: 2px;
    left: 10px;
    top:0px;
}

.export-xls-cargod-div,
.custom-table-div{
    display: inline-block;
}

.export-xls-cargod-div > .export-xls-cargos-checked,
.custom-table-div > .custom-table-checked{
    top: 25px !important;
    font-size: 15px;
    font-family: sans-serif;
    height: 400px;
    overflow-y: scroll;
    min-width: 190px;
}

.export-xls-cargod-div > .export-xls-cargos-checked input,
.export-xls-cargod-div > .export-xls-cargos-checked a,
.custom-table-div > .custom-table-checked input,
.custom-table-div > .custom-table-checked a{
    margin: 5px;
}

.edit-packets-slect-cargos,
.export-xls-cargos,
.custom-table-menu,
.btn-add-costs{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: 1px solid #EAEAEA !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-family: var(--rob-light) !important;
    color: #000 !important;
    font-size: 14px !important;
    transition: all 0.2s ease-in-out;
    margin-right: 5px;
    cursor: pointer;
    display: inline-table;
    height: 27px;
    margin-top: 5px;
    position: relative;
    padding-top: 2px;
}
.edit-packets-slect-cargos,
.custom-table-menu,
.btn-add-costs{
    padding-top: 2px !important;
}

.export-xls-cargos{
    display: inline-flex !important;
}

.dropdown-menu-table-scroll{
    max-height: 250px;
    overflow-y: scroll;
}

.table-bordered td, .table-bordered th {
    border-right: 1px solid #dee2e6!important;
}

.avatar-circle{
    border-radius: 100%;
}

.info-telegram-token{
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
}

a.export-xls-cargos-checked-btn,
a.custom-table-btn {
    background: #3e3e3d;
    display: block;
    color: #fff!important;
    padding: 11px;
    text-align: center;
    cursor: pointer;
}
a.export-xls-cargos-checked-btn:hover,
a.custom-table-btn:hover {
    background: #191918 !important;
}

.custom-table-checked{
    right: 0px !important;
}

.summary-selected{
    font-family: var(--rob-med);
    font-size: 14px;
    color: #000;
    padding-top: 15px;
    text-align: right;
}

.project-cargoes-rows .add-new-item-button-inputs{
    /*height: 35px;*/
}

.project-cargoes-rows .project-cargoes-val{
    font-family: var(--rob-med);
    color: #333333;
    font-size: 14px;
    display: flex;
    align-items: center;
    /*height: 37px;*/
    margin-right: 20px;
}

.table-edit-btn{
    position: relative;
    margin-left: 15px;
    color: #000;
}

.table-edit-btn:hover{
    color: #fff;
}

#get-awb,
#get-invoice,
#get-list,
#get-other,
#get-img,
#get-invoice,
#get-of{
    z-index: 9;
    cursor: pointer;
}

.adminsaletable{
    width: auto !important;
    overflow-x: scroll;
    display: inline-block;
}

.adminsaletable th:nth-child(2),
.adminsaletable th:nth-child(3),
.adminsaletable td:nth-child(2),
.adminsaletable td:nth-child(3),
.adminsaletable-big td:nth-child(4),
.adminsaletable-big th:nth-child(4),
.adminsaletable-big td:nth-child(5),
.adminsaletable-big th:nth-child(5),
.adminsaletable-big td:nth-child(6),
.adminsaletable-big th:nth-child(6),
.adminsaletable-big td:nth-child(7),
.adminsaletable-big th:nth-child(7),
.adminsaletable-big td:nth-child(8),
.adminsaletable-big th:nth-child(8){
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.adminsaletable-personal-profit th:nth-child(1),
.adminsaletable-personal-profit td:nth-child(1),
.adminsaletable-personal-profit th:nth-child(2),
.adminsaletable-personal-profit td:nth-child(2),
.adminsaletable-personal-profit th:nth-child(4),
.adminsaletable-personal-profit td:nth-child(4),
.adminsaletable-personal-profit th:nth-child(5),
.adminsaletable-personal-profit td:nth-child(5){
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}
.adminsaletable-personal-profit th:nth-child(3),
.adminsaletable-personal-profit td:nth-child(3),
.adminsaletable-personal-profit th:nth-child(6),
.adminsaletable-personal-profit td:nth-child(6){
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.btn-create-plans{
    display: flex;
    width: 240px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    transition: all 0.2s ease-in-out;
}

.btn-create-plans:hover{
    color: #fff;
    text-decoration: none;
    background-color: #269479;
}
.load-file .ava-name a{
    color: #677E8E;
}
.close-preview,
.close-preview a,
.close-preview-other,
.close-preview-other a,
.close-preview-invoice,
.close-preview-invoice a,
.close-preview-awb,
.close-preview-awb a,
.close-preview-packing,
.close-preview-packing a{
    color: red;
}

.search-form svg{
    color: #fff;
    font-size: 20px;
}

.circle-searck-block{
    position: absolute;
    right: 15px;
}

.add-client-form-line label{
    width: 100%;
}

@media only screen and (max-width: 1205px) {
    .add-client-form-line .bootstrap-select{
        padding-left: 20px;
    }
}

.radio-btn-cargo-block{
    width: 90%;
}

.radio-btn-cargo-block .form-check input{
    margin-top: -5px;width: 15px;
}

.submit-form{
    width: auto !important;
    padding: 0px 5px;
}

.submit-form img{
    height: 28px;
    padding-left: 5px;
}

.fa-camera-retro{
    color: #38BC9C;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #3e3e3d;
    text-decoration: none;
}
.context-menu__link:hover {
    color: #fff;
    background-color: #38bc9c;
    text-decoration: none;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    padding-bottom: 25px !important;

}

.bootstrap-select .dropdown-menu{
    z-index: 99999;
}

.table-payment-project-money{
    border-right: 1px solid #dee2e6;
}

label.error{
    color: red;
}

#contacts-error{
    position: absolute;
    top: 30px;
    left: 0px;
}

/*menu-pauments-currency*/
.menu-pauments-currency{
    text-align: left;
    border-top: 1px solid #616161;
    width: 100%;
    padding: 5px 35px;
}
.menu-pauments-currency > a{
    color: #38bc9c !important;
}
.menu-pauments-currency > a > span{
    color: #d6d6d6;
}
@media only screen and (max-width: 575px) {
    .menu-pauments-currency{
        display: none;
    }
}
/* END menu-pauments-currency*/


.loader-ajax{
    width: 100vw;
    left: 50vw;
    position: relative;
}
.loader-ajax-block {
  border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3dbc99;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.contextmenu-row-hover{
    background-color: #1668bf4f !important;
    color: #000 !important;
}

/*  Dashboard 2 -------------------- */
.dashboard-title-pb {
    margin-bottom: 40px;
}
.body-fw {
    min-height: 100vh;
}
.second-dashboard-item-pesron {
    width: 100%;
    height: 107px;
    background-color: #3E3E3D;
    background-image: url('/web/img/log-bg.png');
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}
.second-dashboard-item-pesron-image {
    width: 90px;
    height: 90px;
    margin-left: 15px;
    border: 2px solid #fff;
    border-radius: 100%;
}
.second-dashboard-item-pesron-image img {
    width: 100%;
    border-radius: 50%;
}
.second-dashboard-item-pesron-info-name {
    font-family: var(--rob-reg);
    font-size: 21px;
    color: #fff;
}
.second-dashboard-item-pesron-info-position {
    font-family: var(--rob-reg);
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px;
}
.second-dashboard-item {
    height: 107px;
    background-color: #3E3E3D;
    display: flex;
    margin-top: 20px;
}
.second-dashboard-item-icon {
    width: 110px;
    background-color: #38BC9C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-dashboard-item-text {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.second-dashboard-item-text-title {
    font-family: var(--rob-reg);
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}
.second-dashboard-item-text-price {
    font-family: var(--rob-med);
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.second-dashboard-item-text-price div {
    font-size: 14px;
    background-color: #38BC9C;
    padding-left: 10px;
    padding-right: 10px;
}
.second-dashboard-item-text-bar {
    height: 10px;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
}
.second-dashboard-item-text-bar::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 10px;
    background-color: #38BC9C;
}
.second-dashboard-item-pesron-info {
    padding-left: 20px;
}
.second-dashboard-item:last-child {
    margin-bottom: 30px;
}

.dashboard-pl  {
    padding-left: 60px !important;
}
.notif-visible .notif-message {
    margin-bottom: 30px !important;
}
.task-for-day-2 {
    max-height: 616px;
}
/* End Dashboard 2 ----------------------- */

@media only screen and (max-width: 1440px) {
    /* Dashboard media -------- */
    .dashboard-pl {
        padding-left: 15px !important;
    }
    /* End Dashboard media -------- */
}

.second-dashboard-item-icon svg{
    color: #fff;
    font-size: -webkit-xxx-large;
}

.submit-form-task{
    color: #fff !important;
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-family: var(--rob-reg);
    font-size: 14px;
    outline: none;
    background-color: #3EBD9E;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.submit-form-task:hover{
    background-color: #279f82;
}

.show-project-desc{
    font-size: 14px;
    color: #313131;
    text-transform: uppercase;
    background: #eaeaea;
    padding: 5px;
    cursor: pointer;
    margin-left: 15px;
}
.show-project-desc:hover{
    color: #3e3e3e;
    background: #cccccc;
}

.payments-td-right{
    text-align:right;
}

.payments-td-balance{
    font-family: var(--rob-bold) !important;
}
.payments-td-balance span{
    font-family: var(--rob-light) !important;
}

input.error {
 border: 1px solid #ff0000;
}
select.error {
 border: 1px solid #ff0000;
}

.shipment-calc .row{
    margin-bottom: 10px;
}

.shipment-calc input{
    width: 100px;
    height: 30px;
    border: 1px solid #C6C6C7;
    outline: none;
    font-family: var(--rob-reg);
    padding-top: 2px;
    padding-left: 5px;
    letter-spacing: 0.4px;
    font-size: 14px;
    color: #333333;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
    z-index: 9999;
    cursor: pointer;
}

.shipment-calc .shipment-title{
    font-size: 14px;
    color: #444444;
    padding-top: 4px;
}
.shipment-calc .shipment-summ{
    font-size: 14px;
    color: #444444;
    padding-top: 4px;
    font-weight: 600;
}

.border-width{
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
    margin-bottom: 10px;
}

input:disabled {
  background: #ececec;
  cursor: not-allowed;
}
select[disabled] {
  background: #ececec !important;
  cursor: not-allowed !important;
}

.project-cargos{
    width: 100%;
    font-size: 14px;
}
.project-cargos > .row{
    border-left: 1px solid #cecbcb;
}
.project-cargos > .project-cargos-cargo{
    border-bottom: 1px solid #cecbcb;
}
.project-cargos > .row > div{
    border-right: 1px solid #cecbcb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-cargos .project-cargos-title{
    background-color: #f3f3f3;
    border-top: 1px solid #cecbcb;
    border-bottom: 1px solid #cecbcb;
    font-weight: bold;
}

.dropdown-toggle::after {
    position: absolute;
    margin-top: 8px;
}

.row.fixedhuixed {
    background: #3e3e3d;
    display: block;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    z-index: 99999;
}

button.savebut {
    border: 0;
    background: #44ceac;
    color: #fff;
    padding: 6px 30px;
    margin: 13px;
    transition: all .5s;
}

button.savebut:hover {
    background: #00ad82;
    cursor: pointer;
    transition: all .5s;
}

button.cancelbut {
    background: #dc3545;
    color: #fff;
    border: 0;
    transition: all .5s;
    padding: 6px 13px;
}

button.cancelbut:hover {
    background: #dc1024;
    cursor: pointer;
    transition: all .5s;
}

.fixedhuixed p {
    float: right;
    color: #ccc;
    width: 40%;
    font-size: 12px;
    padding: 10px;
}

.fixedhuixed .fa-w-18 {
    font-size: 27px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    color: #dc3545;
}
/*scroll all page*/
body::-webkit-scrollbar-thumb {
    background-color: #383838;
    outline: 1px solid #383838;
}

body::-webkit-scrollbar-track {
    background: #c6c6c7;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
/*scroll table*/
tbody::-webkit-scrollbar-thumb {
    background-color: #383838;
    outline: 1px solid #383838;
}

tbody::-webkit-scrollbar-track {
    background: #c6c6c7;
}

tbody::-webkit-scrollbar {
    width: 0.5em;
}

.table-wrap::-webkit-scrollbar-thumb {
    background-color: #383838;
    outline: 1px solid #383838;
}

.table-wrap::-webkit-scrollbar-track {
    background: #c6c6c7;
}

.table-wrap::-webkit-scrollbar {
    height: 0.5em;
}

